#set($page=${pageResponse.page})
#set($next=$page+1)
#set($before=$page+-1)
#set($total=${pageResponse.total})
#if($url.contains("?"))
    #set($href="${url}&page=")
#else
    #set($href="${url}?page=")
#end

#if($total==1||$total==0)
<span class="cur" href="${href}1">1</span>
#elseif($total>=2&&$total<=8)
    #if($page!=1)
    <a href="${href}1">首页</a>
    <a href="$href${before}">上一页</a>
    #end
        #foreach($each in [1..$total])
            #if($page==$each)
                <span class="cur" href="$href$each">$each</span>
            #else
                <a href="$href$each">$each</a>
            #end
        #end
    #if($page!=$total)
    <a href="$href${next}">下一页</a>
    <a href="$href${total}">尾页</a>
    #end
#else
    #if($page!=1)
    <a href="${href}1">首页</a>
    <a href="$href${before}">上一页</a>
    #end
    #if($page>=1&&$page<=4)
        #foreach($each in [1..8])
            #if($page==$each)
            <span class="cur" href="$href$each">$each</span>
            #else
            <a href="$href$each">$each</a>
            #end
        #end
    #elseif($page<=$total&&$page>=$total+-4)
        #set($start=$total+-7)
        #foreach($each in [$start..$total])
            #if($page==$each)
            <span class="cur" href="$href$each">$each</span>
            #else
            <a href="$href$each">$each</a>
            #end
        #end
    #else
        #set($start=$page+-3)
        #set($last=$page+4)
        #foreach($each in [$start..$last])
            #if($page==$each)
            <span class="cur" href="$href$each">$each</span>
            #else
            <a href="$href$each">$each</a>
            #end
        #end
    #end
    #if($page!=$total)
    <a href="$href${next}">下一页</a>
    <a href="$href${total}">尾页</a>
    #end
#end
##<form action="" method="post">
##    <span class="skip">
##        <input class="pg" type="text" maxlength="3" id="pg"/>
##        <button class="btn" type="submit" onclick="window.location.href='${href}1'"/></button>
##    </span>
##</form>

