#set($layout="/layout/security.vm")
#set($page_title="重置密码")
<div class="head">
    <div class="inner">
        <div class="logo"></div>
        <div class="return"><a href="${ctx}/j_spring_cas_security_logout">返回登录</a></div>
    </div>
</div>
<div class="main">
    <div class="main_bg">
        <div class="content_tl">重置密码</div>
        <form name="reset" action="./resetPassword" method="post">
            <input type="hidden" name="userId" value="$!{userId}" />
            <input type="hidden" name="type" value="$!{type}" />
            <input type="hidden" name="typeValue" value="$!{typeValue}" />
            <input type="hidden" name="checkCode" value="$!{checkCode}" />
            <input type="password" class="tell_number" name="password" maxlength="20" placeholder="输入新密码" />
            <input type="password" class="tell_number_three" maxlength="20" placeholder="重置新密码" />
            <div class="errormsg">$!{errorMsg}</div>
            <button type="submit" class="button_three">确定</button>
        </form>
    </div>
</div>
